.chat-buttons {
  .all-messages-checkbox {
    float: left;
  }
  .back-button {
    background-color: #3f51b5;
    border-radius: 5px;
    color: white;
    float: right;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}

.chat-info {
  color: #3f51b5;
  clear: both;
  margin-bottom: 40px;
  padding: 5px 0;
  width: 100%;

  .chat-title {
    display: inline-block;
    font-weight: bold;
    float: left;
    margin: 5px 0;
  }

  .chat-members {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    float: right;
    margin: 5px 0;
  }
}

material-list-item {
  margin: 5px 0;

  .message-head {
    width: 100%;
    clear: both;

    .message-author {
      color: #009688;
      display: inline-block;
      font-size: 12px;
      float: left;
    }
    .message-datetime {
      display: inline-block;
      color: #9e9e9e;
      font-size: 12px;
      float: right;

    }
  }

  .message-text {
    background-color: #3f51b5;
    border-radius: 5px;
    color: white;
    clear: both;
    font-size: 14px;
    padding: 5px;
    margin: 0 0 5px 0;
  }
}

.message-input {
  width: 85%;
}
