<div class="chat-buttons">
  <material-checkbox
      class="all-messages-checkbox"
      label="Show all"
      [ngModel]="showAllMessages"
      (ngModelChange)="showAllMessagesChanged($event)"
  >
  </material-checkbox>
  <material-button
      class="back-button"
      icon
      (trigger)="toChatList()"
  >
    <material-icon icon="keyboard_arrow_left"></material-icon>
    to chat list
  </material-button>
</div>
<div class="chat-info">
  <span class="chat-title">{{ chat?.title }}</span>
  <span class="chat-members">{{ chatMembers() }}</span>
</div>
<material-list>
  <material-list-item *ngFor="let message of shrinkedMessages">
    <div class="message-head">
      <span class="message-author">{{ message.author.name }}</span>
      <span class="message-datetime"> {{ message.createdAt | date:"short"}}</span>
    </div>
    <div class="message-text">{{ message.text }}</div>
  </material-list-item>
</material-list>
<material-input
    multiline
    [(ngModel)]="newMessageText"
    class="message-input"
>
</material-input>
<material-button [disabled]="newMessageText.isEmpty" (trigger)="send()">Send</material-button>