material-list {
  .chat-info {
    color: #3f51b5;
    width: 100%;

    .chat-title {
      display: inline-block;
      font-weight: bold;
      float: left;
      margin: 5px 0;
    }

    .chat-members {
      display: inline-block;
      font-style: italic;
      font-weight: bold;
      float: right;
      margin: 5px 0;
    }
  }
}